body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}