<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/all_pages.css}">
        <link rel="stylesheet" th:href="@{/css/all_statements.css}">
        <link rel="stylesheet" th:href="@{/css/account_detail_view.css}">
        <script th:src="@{/js/account_detail_view.js}"></script>
    </head>
    <body>
        <div class="table-block" th:each="accountEntry : ${accountDetailView.accountDetailBlocks}">
            <table>
                <thead>
                    <tr>
                        <th colspan="6" class="header-label" th:text="${accountEntry.key.accountName}"></th>
                    </tr>
                    <tr>
                        <th colspan="6" class="header-date" th:text="${accountDetailView.dateString}"></th>
                    </tr>
                    <tr>
                        <th>Trans #</th>
                        <th>Description</th>
                        <th>Approved</th>
                        <th>Post Date</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="yearEntry : ${accountEntry.value}">
                        <tr class="year-block" th:attr="data-year=${yearEntry.key}">
                            <td colspan="6" class="year-header" th:text="${yearEntry.key}"></td>
                        </tr>
                        <th:block th:each="monthEntry : ${yearEntry.value.monthBlocks}">
                            <tr class="month-block" th:attr="data-year=${yearEntry.key},data-month=${monthEntry.key}">
                                <td colspan="6" class="month-header" th:text="${monthEntry.key}"></td>
                            </tr>
                            <tr class="entry-line" th:each="entryLine : ${monthEntry.value.accountDetailLines}" th:attr="data-entry-id=${entryLine.journalEntryID},data-year=${yearEntry.key},data-month=${monthEntry.key}">
                                <td><a th:text="${entryLine.journalEntryID}" href="http://localhost:8080/general_ledger"></a></td>
                                <td th:text="${entryLine.description}"></td>
                                <td th:if="${entryLine.postSignature} != null" th:text="${entryLine.postSignature}"></td>
                                <td th:unless="${entryLine.postSignature} != null">Error</td>
                                <td th:text="${entryLine.postDate}"></td>
                                <th:block th:if="${entryLine.type} == 'D'">
                                    <td th:replace="~{fragments/formatters :: amount-td(${entryLine.amount}, 'debit-amount', 2)}">-</td>
                                    <td class="credit-amount">-</td>
                                </th:block>
                                <th:block th:unless="${entryLine.type} == 'D'">
                                    <td class="debit-amount">-</td>
                                    <td th:replace="~{fragments/formatters :: amount-td(${entryLine.amount}, 'credit-amount', 2)}">-</td>
                                </th:block>
                            </tr>
                            <tr class="mtd-totals-line" th:attr="data-year=${yearEntry.key},data-month=${monthEntry.key}">
                                <td colspan="3"></td>
                                <td>Totals:</td>
                                <td th:replace="~{fragments/formatters :: amount-td(${monthEntry.value.totalDebits}, 'total month-total-debit', 2)}">-</td>
                                <td th:replace="~{fragments/formatters :: amount-td(${monthEntry.value.totalCredits}, 'total month-total-credit', 2)}">-</td>
                            </tr>
                            <tr class="mtd-totals-line" th:attr="data-year=${yearEntry.key},data-month=${monthEntry.key}">
                                <td colspan="4"></td>
                                <th:block th:if="${monthEntry.value.grandTotalType} == 'D'">
                                    <td th:replace="~{fragments/formatters :: amount-td(${monthEntry.value.grandTotal}, 'grand-total month-grand-total', 2)}">-</td>
                                    <td>-</td>
                                </th:block>
                                <th:block th:unless="${monthEntry.value.grandTotalType} == 'D'">
                                    <td>-</td>
                                    <td th:replace="~{fragments/formatters :: amount-td(${monthEntry.value.grandTotal}, 'grand-total month-grand-total', 2)}">-</td>
                                </th:block>
                            </tr>
                        </th:block>
                        <tr class="ytd-totals-line" th:attr="data-year=${yearEntry.key}">
                            <td colspan="3"></td>
                            <td>YTD:</td>
                            <td th:replace="~{fragments/formatters :: amount-td(${yearEntry.value.totalDebits}, 'total year-total-debit', 2)}">-</td>
                            <td th:replace="~{fragments/formatters :: amount-td(${yearEntry.value.totalCredits}, 'total year-total-credit', 2)}">-</td>
                        </tr>
                        <tr class="ytd-totals-line" th:attr="data-year=${yearEntry.key}">
                            <td colspan="4"></td>
                            <th:block th:if="${yearEntry.value.grandTotalType} == 'D'">
                                <td th:replace="~{fragments/formatters :: amount-td(${yearEntry.value.grandTotal}, 'grand-total year-grand-total', 2)}">-</td>
                                <td>-</td>
                            </th:block>
                            <th:block th:unless="${yearEntry.value.grandTotalType} == 'D'">
                                <td>-</td>
                                <td th:replace="~{fragments/formatters :: amount-td(${yearEntry.value.grandTotal}, 'grand-total year-grand-total', 2)}">-</td>
                            </th:block>
                        </tr>
                    </th:block>
                    <tr class="grand-total-line" data-level="account">
                        <td colspan="3"></td>
                        <td>Report Total:</td>
                        <td th:replace="~{fragments/formatters :: amount-td(${accountDetailView.totalDebits}, 'total account-total-debit', 2)}">-</td>
                        <td th:replace="~{fragments/formatters :: amount-td(${accountDetailView.totalCredits}, 'total account-total-credit', 2)}">-</td>
                    </tr>
                    <tr class="grand-total-line" data-level="account">
                        <td colspan="4"></td>
                        <th:block th:if="${accountDetailView.grandTotalType} == 'D'">
                            <td th:replace="~{fragments/formatters :: amount-td(${accountDetailView.grandTotal}, 'grand-total account-grand-total', 2)}">-</td>
                            <td>-</td>
                        </th:block>
                        <th:block th:unless="${accountDetailView.grandTotalType} == 'D'">
                            <td>-</td>
                            <td th:replace="~{fragments/formatters :: amount-td(${accountDetailView.grandTotal}, 'grand-total account-grand-total', 2)}">-</td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>