<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/all_pages.css}">
        <link rel="stylesheet" th:href="@{/css/income_statement_view.css}">
        <script th:src="@{/js/income_statement_view.js}"></script>
    </head>
    <body>
        <div class="table-block">
            <table>
                <thead class="statement-header">
                    <tr>
                        <th colspan="4" th:text="${businessInfo.name}">Error Getting Business Name</th>
                    </tr>
                    <tr>
                        <th colspan="4">Income Statement</th>
                    </tr>
                    <tr>
                        <th colspan="4" th:text="${incomeStatementView.dateRangeString}">Error Getting Formatted Date</th>
                    </tr>
                </thead>

                <!-- Column Labels -->
                <tr>
                    <th></th>
                    <th:block th:each="column : ${incomeStatementView.columns}">
                        <th th:text="${column.columnLabel}"></th>
                    </th:block>
                </tr>

                <!-- Revenue -->
                <tbody class="revenue-block">
                    <tr>
                        <th>Revenue</th>
                    </tr>
                    <th:block th:each="accountName : ${incomeStatementView.revenueAccounts}">
                        <tr>
                            <td th:text="${accountName}"></td>
                            <th:block th:each="column : ${incomeStatementView.columns}">
                                <th:block th:if="${column.revenueLines != null and column.revenueLines.containsKey(accountName)}" th:with="amount=${column.revenueLines.get(accountName).totalAmount}">
                                    <td th:replace="~{fragments/formatters :: amount-td(${amount})}">-</td>
                                </th:block>
                                <td th:unless="${column.revenueLines != null and column.revenueLines.containsKey(accountName)}">-</td>
                            </th:block>
                        </tr>
                    </th:block>
                    <tr>
                        <th>Total Revenue</th>
                        <th:block th:each="column : ${incomeStatementView.columns}">
                            <th th:replace="~{fragments/formatters :: amount-th(${column.totalRevenue})}">-</th>
                        </th:block>
                    </tr>
                </tbody>

                <!-- Expenses -->
                <tbody class="expense-block">
                    <tr>
                        <th>Expenses</th>
                    </tr>
                    <th:block th:each="accountName : ${incomeStatementView.expenseAccounts}">
                        <tr>
                            <td th:text="${accountName}"></td>
                            <th:block th:each="column : ${incomeStatementView.columns}">
                                <th:block th:if="${column.expenseLines != null and column.expenseLines.containsKey(accountName)}" th:with="amount=${column.expenseLines.get(accountName).totalAmount}">
                                    <td th:replace="~{fragments/formatters :: amount-td(${amount})}">-</td>
                                </th:block>
                                <td th:unless="${column.expenseLines != null and column.expenseLines.containsKey(accountName)}">-</td>
                            </th:block>
                        </tr>
                    </th:block>
                    <tr>
                        <th>Total Expenses</th>
                        <th:block th:each="column : ${incomeStatementView.columns}">
                            <th th:replace="~{fragments/formatters :: amount-th(${column.totalExpense})}">-</th>
                        </th:block>
                    </tr>
                </tbody>

                <!-- Net Income (Loss) -->
                <tbody class="net-income-line">
                    <tr>
                        <th>Net Income (Loss)</th>
                        <th:block th:each="column : ${incomeStatementView.columns}">
                            <th th:replace="~{fragments/formatters :: amount-th(${column.netIncome})}">-</th>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>