<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/all_pages.css}">
        <link rel="stylesheet" th:href="@{/css/income_statement_view.css}">
        <script th:src="@{/js/income_statement_view.js}"></script>
    </head>
    <body>
        <div class="table-block">
            <table>
                <thead>
                    <tr>
                        <th colspan="4" th:text="${businessInfo.name}">Error Getting Business Name</th>
                    </tr>
                    <tr>
                        <th colspan="4">Income Statement</th>
                    </tr>
                    <tr>
                        <th colspan="4" th:text="${incomeStatementView.dateRangeString}">Error Getting Formatted Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Revenue & Column Labels -->
                    <th:block th:each="revItems : ${incomeStatementView.revenueItems}">
                        <td th:text="${revItems.columnLabel}"></td>
                    </th:block>
                    <tr>
                        <th>Revenue</th>
                    </tr>

                    <th:block th:each="revItems : ${incomeStatementView.revenueItems}">
                        <tr th:each="line : ${revItems.lines}">
                            <td th:text="${line.accountName}"></td>
                            <td th:text="${line.totalAmount}"></td>
                        </tr>
                    </th:block>

                    <tr>
                        <th>Expenses</th>
                    </tr>

                    <tr>
                        <th>Net Income (Loss)</th>
                    </tr>
                    <!--
                    Revenue

                    <tr>
                        <th colspan="4">Revenue</th>
                            <td></td> Placeholder
                            <td th:if="${incomeStatementView.includeMTD}">MMM</td>
                            <td th:if="${incomeStatementView.includeQTD}">Q#</td>
                            <td th:if="${incomeStatementView.includeYTD}">YYYY</td>
                    </tr>
                    <th:block th:each="lineEntry : ${incomeStatementView.revenueItems.statementLines}">
                        <tr>
                            <td th:text="${lineEntry.key}"></td>
                            <td th:text="${lineEntry.value.totalAmountMTD}"></td>
                        </tr>
                    </th:block>

                    Revenue Total

                    <tr class="subtotal">
                        <td>Total Revenue</td>
                        <td th:if="${incomeStatementView.includeMTD}" th:text="${incomeStatementView.revenueItems.totalAmountMTD}"></td>
                        <td th:if="${incomeStatementView.includeQTD}" th:text="${incomeStatementView.revenueItems.totalAmountQTD}"></td>
                        <td th:if="${incomeStatementView.includeYTD}" th:text="${incomeStatementView.revenueItems.totalAmountYTD}"></td>
                    </tr>
                    
                    Expenses

                    <tr>
                        <th colspan="4">Expenses</th>
                    </tr>
                    <th:block th:each="lineEntry : ${incomeStatementView.expenseItems.statementLines}">
                        <tr>
                            <td th:text="${lineEntry.key}"></td>
                            <td th:if="${incomeStatementView.includeMTD}" th:text="${lineEntry.value.totalAmountMTD}"></td>
                            <td th:if="${incomeStatementView.includeQTD}" th:text="${lineEntry.value.totalAmountQTD}"></td>
                            <td th:if="${incomeStatementView.includeYTD}" th:text="${lineEntry.value.totalAmountYTD}"></td>
                        </tr>
                    </th:block>

                    Expense Total

                    <tr class="subtotal">
                        <td>Total Expenses</td>
                        <td th:if="${incomeStatementView.includeMTD}" th:text="${incomeStatementView.expenseItems.totalAmountMTD}"></td>
                        <td th:if="${incomeStatementView.includeQTD}" th:text="${incomeStatementView.expenseItems.totalAmountQTD}"></td>
                        <td th:if="${incomeStatementView.includeYTD}" th:text="${incomeStatementView.expenseItems.totalAmountYTD}"></td>
                    </tr>
                    
                    Grand Total / Net Income

                    <tr class="grand-total">
                        <td>Net Income</td>
                        <td th:if="${incomeStatementView.includeMTD}" th:text="${incomeStatementView.grandTotalMTD}"></td>
                        <td th:if="${incomeStatementView.includeQTD}" th:text="${incomeStatementView.grandTotalQTD}"></td>
                        <td th:if="${incomeStatementView.includeYTD}" th:text="${incomeStatementView.grandTotalYTD}"></td>
                    </tr>

                    -->
                </tbody>
            </table>
        </div>
    </body>
</html>