<!DOCTYPE HTML>
<html 
    xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <!-- <link rel="stylesheet" href="/src/main/resources/static/css/journal_entry_view.css"/> -->
        <link rel="stylesheet" th:href="@{/css/journal_entry_view.css}">
        <script src="/js/entryLines.js"></script>
    </head>
<body>
  <form th:action="@{/save_journal_entry}" th:object="${journalEntry}" method="post">
    
    <div class="container">
      <div class="button-section">
        <button type="button" id="backButton" onclick="window.history.back()">Back</button>
        <div class="spacer"></div>
        
        <button type="submit">Submit</button>
        
        <button type="button" id="editButton">Edit</button>
      </div>

      <div class="fields-section">
        <div class="inline-field">
          <div class="field">
            <label>Post Date:</label>
            <input type="date" th:field="*{postDate}"/>
          </div>
        </div>
        
        <div class="inline-field">
          <div class="field">
            <label>Description:</label>
            <input type="text" th:field="*{transactionDescription}"/>
          </div>
        </div>

        <table id="lineTable">
          <thead>
              <tr>
                  <th>Account</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th></th>
              </tr>
          </thead>
          <tbody id="lineItems">
              <tr th:each="line, stat : *{lines}" class="line-row">
                  <td>
                      <select th:field="*{lines[__${stat.index}__].account}">
                          <option th:each="acc : ${allAccounts}" 
                                  th:value="${acc.AccountID}" 
                                  th:text="${acc.AccountName}"></option>
                      </select>
                  </td>
                  <td><input type="number" step="0.01" th:field="*{lines[__${stat.index}__].amount}" /></td>
                  <td><input type="number" step="0.01" /></td> 
                  <td><button type="button" onclick="removeRow(this)" class="btn-remove">Remove</button></td>
              </tr>
          </tbody>
        </table>

        <button type="button" onclick="addRow()">Add Row</button>
      </div>
    </div>
  </form> </body>
</html>